.script {
    padding: 20px;
    margin: 20px;
    text-align: justify;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}


.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 600px;
    padding: 2rem;
    margin: 2rem;
}
.infos {
    width: 400px;
}
.albumCover {
    width: 400px;
    height: 400px;
}
.album, .year, .artist {
    text-align: center;
}
.album {
    font-size: 1.5rem;
    color: gold;
}
.artist {
    font-size: 1.3rem;
    color: #FF5823;
}
.year {
    font-size: 1rem;
    color: burlywood;
}